.home-content-image{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("./components/images/waterfall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: opacity(90%) drop-shadow(0 5rem 20rem gray);
}

.content-image{
  width: 256px;
  height: 256px;
  filter: opacity(90%) drop-shadow(0 0 1rem rgb(128, 128, 128));
}