.home-content-image {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("./components/images/waterfall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: opacity(90%) drop-shadow(0 5rem 20rem gray);
}

.content-image {
  width: 256px;
  height: 256px;
  filter: opacity(90%) drop-shadow(0 0 1rem rgb(128, 128, 128));
}

.app-logo {
  width: 84px;
  height: 84px;
  object-fit: cover;
}

.content-text {
  font-size: 56px;
}

.aboutus-container {
  border: 1px;
  box-shadow:20px 20px 50px grey;
}